@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
  margin: 0%;
  padding: 0;
  --primary-colour: #7C3aed;
  color: white;
}

body {
  font-family: 'Poppins', sans-serif;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(7,7,65,1) 100%, rgba(0,212,255,1) 100%);
  box-sizing: border-box;
}


.container-center {
  display: flex;
  justify-content: space-between;
  max-width: 75rem;
  margin: auto;

}

.display-inline-block{
  display: inline-block;
}
.no-li-decoration{
  list-style: none;
}

.spacing{
  padding: 2rem;


}

.text-with-brackets {
  color: var(--primary-colour); 
  font-weight: bold;
  font-size: 18px;
}

.cursor-pointer{
  cursor: pointer;
}

.onHover:hover{
  color: var(--primary-colour);
}
